<%- include('../partials/head.ejs') %>
<title>Home</title>


    <style>
      .swiper {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      :root {
      --swiper-theme-color: #49A16D !important;
  }
  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: flex !important;
    background: transparent;
}
.dn{
  display: none;
}
    </style>
    
    <%- include('../partials/body.ejs') %>
    <header>
        <img class="headerImg" src=" /images/askA_header.svg" alt="">

      
        <%- include('../partials/navbar.ejs', { currentPage: 'home' }) %>
  
      
      <div class="headerContent">
          <h1 class="headerHeading">
            It’s time to seek financial advice from expert
          </h1>
          <p class="headerPara">We provide a variety of services related to Accounting, Taxation and Finance for
            Businesses of all sizes across Canada. Our differentiating factor is simple:
            We prioritize our Clients' needs above all else, providing peace of mind and
            solutions to solve their problems.</p>

           <a href=""> <p class="buttonP">Get in touch</p></a>
      </div>
      </header>
      <div class="serviceAfterHeader">
<div class="indivdualSh">
<img class="imgISH" src=" /images/askASwevices.svg" alt="">
<h3>Start-Up Services</h3>
<p class="paraSH">We support entrepreneurs to build their
  businesses by providing them with the
  ideal company formation legal services.</p>
</div>

<div class="indivdualSh">
  <img class="imgISH" src=" /images/askASwevices.svg" alt="">
  <h3>Start-Up Services</h3>
  <p class="paraSH">We provide our clients with the best accounting
    and financial services in the market.</p>
  </div>

  <div class="indivdualSh">
    <img class="imgISH"  src=" /images/askASwevices.svg" alt="">
    <h3>Start-Up Services</h3>
    <p class="paraSH">We offer risk and assurance services for new, as
      well as established businesses - to help them
      reduce risks and overcome any disruption.</p>
    </div>
      </div>

      <div class="whoWeAre">
        <div  class="imgWWA" >
          <img src=" /images/whoWeAre.png" alt="">

        </div>
<div class="WWAcontent" >
  <h3 class="WWAHeadText">Who we are</h3>
        <h2 class="WWAheading">The best solutions for your business</h2>
        <p class="WWApara">TAx Associate is a provider of standardised and effective business solutions that can aid entrepreneurs and businesses to thrive. Our legal, business management, and accounting solutions are tailored to take your business forward.</p>
        <a href=""> <p class="buttonP">Read More</p></a>

      </div>
      
        
      </div>
<div class="ourServicesMain" id="services">
  <div class="ourServcesTop">
    <h3 class="WWAHeadText extraMargin">What We Do</h3>
    <h2 class="WWAheading">Our Services</h2>
    <p class="WWApara smallWidth">Whether you are looking to set up a business or are an established business, we offer a range of solutions proven to add value and help your business grow.</p>
  </div>
  
      <div class="ourServices">
          <div class="indvidualOurServices">
            <img class="imgISH marginRight"  src=" /images/askASwevices.svg" alt="">

              <div class="contentOurServices">
                <h4 class="COSHead">Financial Reporting</h4>
                <p class="COSpara">Understanding your business's financial health is pivotal for growth and sustainability. At ASK Associates, we compile your financial data and transform it into comprehensive financial reports.</p>
                <a class="akospec" href=""><p class="serviceButton">Read More</p></a>
              </div>
          </div>
          <div class="indvidualOurServices">
            <img class="imgISH marginRight"  src=" /images/askASwevices.svg" alt="">

              <div class="contentOurServices">
                <h4 class="COSHead">Financial Reporting</h4>
                <p class="COSpara">Understanding your business's financial health is pivotal for growth and sustainability. At ASK Associates, we compile your financial data and transform it into comprehensive financial reports.</p>
                <a class="akospec" href=""><p class="serviceButton">Read More</p></a>
              </div>
          </div>
          <div class="indvidualOurServices">
            <img class="imgISH marginRight"  src=" /images/askASwevices.svg" alt="">

              <div class="contentOurServices">
                <h4 class="COSHead">Financial Reporting</h4>
                <p class="COSpara">Understanding your business's financial health is pivotal for growth and sustainability. At ASK Associates, we compile your financial data and transform it into comprehensive financial reports.</p>
                <a class="akospec" href=""><p class="serviceButton">Read More</p></a>
              </div>
          </div>
          <div class="indvidualOurServices">
            <img class="imgISH marginRight"  src=" /images/askASwevices.svg" alt="">

              <div class="contentOurServices">
                <h4 class="COSHead">Financial Reporting</h4>
                <p class="COSpara">Understanding your business's financial health is pivotal for growth and sustainability. At ASK Associates, we compile your financial data and transform it into comprehensive financial reports.</p>
                <a class="akospec" href=""><p class="serviceButton">Read More</p></a>
              </div>
          </div>
          <div class="indvidualOurServices">
            <img class="imgISH marginRight"  src=" /images/askASwevices.svg" alt="">

              <div class="contentOurServices">
                <h4 class="COSHead">Financial Reporting</h4>
                <p class="COSpara">Understanding your business's financial health is pivotal for growth and sustainability. At ASK Associates, we compile your financial data and transform it into comprehensive financial reports.</p>
                <a class="akospec" href=""><p class="serviceButton">Read More</p></a>
              </div>
          </div>
          <div class="indvidualOurServices">
            <img class="imgISH marginRight"  src=" /images/askASwevices.svg" alt="">

              <div class="contentOurServices">
                <h4 class="COSHead">Financial Reporting</h4>
                <p class="COSpara">Understanding your business's financial health is pivotal for growth and sustainability. At ASK Associates, we compile your financial data and transform it into comprehensive financial reports.</p>
                <a class="akospec" href=""><p class="serviceButton">Read More</p></a>
              </div>
          </div>
          <div class="indvidualOurServices">
            <img class="imgISH marginRight"  src=" /images/askASwevices.svg" alt="">

              <div class="contentOurServices">
                <h4 class="COSHead">Financial Reporting</h4>
                <p class="COSpara">Understanding your business's financial health is pivotal for growth and sustainability. At ASK Associates, we compile your financial data and transform it into comprehensive financial reports.</p>
                <a class="akospec" href=""><p class="serviceButton">Read More</p></a>
              </div>
          </div>
          <div class="indvidualOurServices">
            <img class="imgISH marginRight"  src=" /images/askASwevices.svg" alt="">

              <div class="contentOurServices">
                <h4 class="COSHead">Financial Reporting</h4>
                <p class="COSpara">Understanding your business's financial health is pivotal for growth and sustainability. At ASK Associates, we compile your financial data and transform it into comprehensive financial reports.</p>
                <a class="akospec" href=""><p class="serviceButton">Read More</p></a>
              </div>
          </div>
          <div class="indvidualOurServices">
            <img class="imgISH marginRight"  src=" /images/askASwevices.svg" alt="">

              <div class="contentOurServices">
                <h4 class="COSHead">Financial Reporting</h4>
                <p class="COSpara">Understanding your business's financial health is pivotal for growth and sustainability. At ASK Associates, we compile your financial data and transform it into comprehensive financial reports.</p>
                <a class="akospec" href=""><p class="serviceButton">Read More</p></a>
              </div>
          </div>
      </div>
    </div>
<!-- Result -->
    <div class="Results">

      <h3 class="rH">Why Choose Us</h3>
      <h2 class="rHM">Dedicated to achieve the best results</h2>
      <p class="rHP">Every step to take your business forward should be calculated. We understand this responsibility and achieve this by enabling, evaluating and enforcing the highest standards in the profession.</p>
   

<div class="resultCircles">

  <div class="indvidualCircles">           
      <img class="imgISH marginRight" src=" /images/askASwevices.svg" alt="">
      <h3 class="resultIHeading">Dedicated experts</h3>
      <p class="resultIpara">Our team of dedicated professionals will be there to help you with your accounting and business needs.</p>

  </div>
  <div class="indvidualCircles">           
    <img class="imgISH marginRight" src=" /images/askASwevices.svg" alt="">
    <h3 class="resultIHeading">Hassle-free process</h3>
    <p class="resultIpara">No complicated paperwork. Just send us your documents and we will handle the rest for you.</p>

</div>
<div class="indvidualCircles">           
  <img class="imgISH marginRight" src=" /images/askASwevices.svg" alt="">
  <h3 class="resultIHeading">Handle remotely</h3>
  <p class="resultIpara">Our clients can handle everything from company registration to accounting requirements remotely.</p>

</div>
</div>

</div>
<!-- Slider -->
<div class="Results" style="background: rgba(73, 161, 109, 0.05)">
  <h3 class="rH">What Our Clients Say</h3>
  <h2 class="rHM">Testimonials</h2>
  <div class="swiper mySwiper" style="background: rgba(73, 161, 109, 0.05)">
    <div class="swiper-wrapper">
      <% for (let t of test) { %>
      <div class="swiper-slide h-400">
        <div
          class="whitediv">
          <div
            class="greendiv">
            <img  class="imgeclient" src="<%= t.image %>" alt="">
            <p class="clientname"><%= t.name %></p>
            <p class="clientcustomer"><%= t.title %></p>
          </div>
          <div
            class="clienttextdiv">
            <p>“<%= t.description %>”</p>
            <% for (let i = 0; i < t.rating; i++) { %>
              <i class="fas fa-star stars"></i>
            <% } %>
           
          </div>
        </div>
      </div>
      <% } %>
   
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<!-- slider end  -->
<!-- Guidence -->
      <div class="guidence">
        <div class="topText">
          <h6 class="topTextH">How We Work</h6>
          <h3 class="topTextHM">Guiding you all the way</h3>
        </div>
        <div class="guidenceBlocks">
            <div class="indvidualGuidence ">
                <div class="customSVH"><svg xmlns="http://www.w3.org/2000/svg" width="99" height="108" viewBox="0 0 99 108" fill="none">
                  <g clip-path="url(#clip0_40_2500)">
                    <path d="M98.8477 22.3667C98.782 21.2126 98.3614 20.1109 97.6833 19.1435C96.7851 17.6369 95.8769 16.1303 94.9586 14.6285C94.9707 14.6453 94.9815 14.6634 94.9935 14.6802C93.656 12.7809 91.309 11.4059 88.7849 11.185C88.6468 11.1736 88.5072 11.1736 88.3691 11.1588C69.3784 9.16416 47.309 8.78685 28.1815 10.707C24.2709 11.0964 21.6254 13.851 22.0299 16.8313C25.1811 40.1971 19.0316 65.1118 8.23363 89.1242C7.42804 90.908 7.64872 92.5301 8.65084 93.6103C8.64212 93.6003 8.63206 93.5942 8.62334 93.5841C10.374 95.5137 12.1006 97.4553 13.8023 99.407C14.5059 100.215 15.6268 100.741 17.089 100.844C33.9346 101.99 50.5528 104.349 66.7604 107.855C67.0911 107.927 67.4305 107.972 67.7766 107.99C70.8856 108.154 74.5138 106.23 76.194 103.247C90.6571 77.4886 100.343 49.832 98.8464 22.3674L98.8477 22.3667Z" fill="url(#paint0_radial_40_2500)"/>
                    <path d="M98.8477 22.3669C98.782 21.2128 98.3614 20.1111 97.6833 19.1437C96.7851 17.6364 95.8776 16.1312 94.9586 14.6287C94.9707 14.6448 94.9815 14.6636 94.9935 14.6804C93.6553 12.7804 91.309 11.4067 88.7849 11.1852C88.6468 11.1738 88.5072 11.1744 88.3691 11.159C69.2288 9.15294 47.309 8.79107 28.1815 10.7072C24.2709 11.0972 21.6254 13.8505 22.0299 16.8314C25.1811 40.1966 19.0316 65.1127 8.23363 89.1251C7.42804 90.9089 7.64872 92.5309 8.65084 93.6112C8.64212 93.6011 8.63206 93.5944 8.62334 93.5843C10.374 95.5139 12.1006 97.4548 13.8023 99.4078C14.5059 100.215 15.6268 100.742 17.089 100.845C33.9346 101.992 50.5528 104.349 66.7604 107.855C67.0911 107.927 67.4312 107.973 67.7766 107.991C70.8856 108.156 74.5138 106.231 76.194 103.247C90.6571 77.4888 100.343 49.8329 98.8464 22.3683L98.8477 22.3669Z" fill="url(#paint1_linear_40_2500)"/>
                    <path d="M82.9822 10.6438C82.8501 9.54609 82.4181 8.52358 81.7789 7.64811C80.9183 6.27179 80.0543 4.89548 79.1884 3.52117C79.1998 3.53594 79.2098 3.55273 79.2206 3.56817C77.9743 1.84206 75.9231 0.678572 73.7847 0.611434C73.668 0.608749 73.5499 0.616134 73.4325 0.610763C57.3221 -0.180788 38.7675 -0.295593 22.5605 0.83903C19.2516 1.07603 16.906 3.58697 17.1287 6.45911C18.9089 28.9428 12.8083 52.6396 0.639952 74.8017C-0.265579 76.4459 -0.181063 78.0122 0.707699 79.1193C0.70032 79.1092 0.690929 79.1018 0.683551 79.0918C2.23167 81.0649 3.77376 83.0415 5.30847 85.02C5.94301 85.8377 7.00818 86.4145 8.43892 86.6011C24.9129 88.7112 41.303 91.2188 57.5898 94.1198C57.9218 94.1796 58.2626 94.2131 58.6087 94.2205C61.7224 94.287 65.27 92.2957 66.7886 89.3625C79.9383 64.0315 86.1046 36.7408 82.9829 10.6438H82.9822Z" fill="url(#paint2_radial_40_2500)"/>
                    <path d="M82.9822 10.6441C82.8501 9.54645 82.4181 8.52395 81.7789 7.64848C80.9183 6.27216 80.0543 4.89584 79.1884 3.52154C79.1998 3.53631 79.2098 3.55309 79.2206 3.56853C77.9743 1.84243 75.9224 0.678937 73.7847 0.611799C73.668 0.609114 73.5499 0.616499 73.4325 0.611128C57.1954 -0.185794 38.7675 -0.293885 22.5605 0.839395C19.2516 1.07639 16.906 3.58733 17.1287 6.45947C18.9089 28.9431 12.8083 52.64 0.639952 74.802C-0.265579 76.4462 -0.181063 78.0126 0.707699 79.1197C0.70032 79.1096 0.690929 79.1022 0.683551 79.0921C2.23167 81.0653 3.77376 83.0418 5.30847 85.0204C5.94301 85.8381 7.00818 86.4148 8.43892 86.6015C24.9129 88.7116 41.303 91.2192 57.5898 94.1202C57.9218 94.1799 58.2626 94.2135 58.6087 94.2209C61.7224 94.2874 65.27 92.2961 66.7886 89.3628C79.9383 64.0319 86.1046 36.7411 82.9829 10.6441H82.9822Z" fill="url(#paint3_linear_40_2500)"/>
                    <path d="M46.3591 13.9674C44.6936 13.8727 42.9549 14.0708 41.1928 14.6038C32.1496 17.3404 26.4481 27.0612 29.9488 36.1429C36.1856 52.321 61.193 43.7059 59.8273 27.6755C59.176 20.0272 53.4236 14.3675 46.3584 13.9674H46.3591Z" fill="url(#paint4_radial_40_2500)"/>
                    <path d="M54.2612 39.2425C60.4343 33.0638 60.987 23.5993 55.4958 18.1031C50.0046 12.6068 40.5487 13.1601 34.3756 19.3388C28.2025 25.5175 27.6498 34.982 33.141 40.4782C38.6323 45.9745 48.0881 45.4212 54.2612 39.2425Z" fill="url(#paint5_radial_40_2500)"/>
                    <path opacity="0.18" d="M33.8159 25.5197C33.5704 25.9897 33.2518 26.3932 32.805 26.3072C32.469 26.2428 32.2765 25.8796 32.2188 25.5419C32.0786 24.7275 32.4381 23.9104 32.8728 23.2082C33.7749 21.7513 35.0427 20.3971 36.5311 19.5351C36.7672 19.3988 37.0248 19.2793 37.2971 19.2759C37.5695 19.2726 37.8592 19.4095 37.9632 19.662C38.2738 20.4153 36.6398 21.5647 36.1816 22.0158C35.4545 22.7322 34.826 23.5486 34.3169 24.4334C34.1814 24.6698 34.0258 25.1189 33.8165 25.5191L33.8159 25.5197Z" fill="white"/>
                    <path d="M58.0728 55.0367C58.054 55.0347 58.0352 55.0327 58.0157 55.0306C46.1325 53.8067 34.2493 52.5821 22.368 51.3582C20.722 51.2065 19.0705 52.4002 18.6621 54.0202C18.2589 55.612 19.2242 57.0172 20.8447 57.1992C20.8528 57.1998 20.8608 57.2012 20.8689 57.2019C20.889 57.2059 57.0371 60.7239 57.0391 60.7246C58.7093 60.8656 60.2863 59.7141 60.5438 58.1458C60.7981 56.5956 59.6859 55.218 58.0728 55.0367Z" fill="url(#paint6_linear_40_2500)"/>
                    <path d="M24.1119 71.1361C22.4343 70.9152 21.4831 69.553 21.9728 67.9846C22.4698 66.3955 24.2292 65.2387 25.9243 65.4066C32.4401 66.0692 38.9532 66.7339 45.4656 67.3999C47.1613 67.5617 48.2231 68.9669 47.8247 70.5245C47.4263 72.082 45.6943 73.212 43.9745 73.0542C43.9745 73.0522 24.134 71.1394 24.1119 71.1361Z" fill="url(#paint7_linear_40_2500)"/>
                    <path d="M50.5884 23.66C50.1215 23.6371 49.6526 23.7889 49.2784 24.1239C46.7026 26.4307 44.0531 28.753 41.3291 31.0914C40.1909 29.6862 39.0552 28.2757 37.9203 26.8597C37.5541 26.4032 37.0376 26.1555 36.509 26.1299C36.0361 26.1071 35.5532 26.2622 35.1588 26.6039C34.3257 27.3283 34.1949 28.6221 34.8797 29.4868C36.4124 31.4257 37.9485 33.3539 39.4852 35.2747C39.8146 35.687 40.2948 35.9434 40.8234 35.9877C40.8462 35.9897 40.8683 35.9911 40.8911 35.9924C41.3955 36.0166 41.8986 35.8447 42.2937 35.5111C45.5965 32.7282 48.7921 29.9675 51.8823 27.2296C52.6905 26.5153 52.7475 25.2437 52.0231 24.3864C51.6394 23.9319 51.1156 23.6855 50.589 23.66H50.5884Z" fill="url(#paint8_linear_40_2500)"/>
                  </g>
                  <defs>
                    <radialGradient id="paint0_radial_40_2500" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-35.0697 26.1551) rotate(1.53139) scale(148.923 155.021)">
                      <stop offset="0.43" stop-color="#C9B3F8"/>
                      <stop offset="0.65" stop-color="#A389F0"/>
                      <stop offset="0.79" stop-color="#9A6CF0"/>
                      <stop offset="0.81" stop-color="#9668EA"/>
                      <stop offset="0.83" stop-color="#8A5FD9"/>
                      <stop offset="0.86" stop-color="#7851BE"/>
                      <stop offset="0.88" stop-color="#6945A9"/>
                      <stop offset="0.9" stop-color="#724CB6"/>
                      <stop offset="0.93" stop-color="#8A5FD8"/>
                      <stop offset="0.94" stop-color="#9A6CF0"/>
                    </radialGradient>
                    <linearGradient id="paint1_linear_40_2500" x1="64.2512" y1="-2.11338" x2="44.7359" y2="116.149" gradientUnits="userSpaceOnUse">
                      <stop offset="0.06" stop-color="#C9B3F8"/>
                      <stop offset="0.2" stop-color="#C9B3F8"/>
                      <stop offset="0.57" stop-color="#A389F0"/>
                      <stop offset="0.82" stop-color="#6945A9"/>
                      <stop offset="0.91" stop-color="#6945A9"/>
                    </linearGradient>
                    <radialGradient id="paint2_radial_40_2500" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-42.8544 26.8225) rotate(1.47134) scale(139.088 139.214)">
                      <stop offset="0.43" stop-color="#F3F8FB"/>
                      <stop offset="0.65" stop-color="#DFEEF0"/>
                      <stop offset="0.79" stop-color="#ECFCFF"/>
                      <stop offset="0.81" stop-color="#E6F7FA"/>
                      <stop offset="0.85" stop-color="#D5EAEC"/>
                      <stop offset="0.88" stop-color="#BED8D9"/>
                      <stop offset="0.94" stop-color="#BED8D9"/>
                    </radialGradient>
                    <linearGradient id="paint3_linear_40_2500" x1="52.9449" y1="-11.6811" x2="34.3355" y2="101.094" gradientUnits="userSpaceOnUse">
                      <stop offset="0.06" stop-color="#F3F8FB"/>
                      <stop offset="0.14" stop-color="#E3ECF1"/>
                      <stop offset="0.57" stop-color="#E3ECF1"/>
                      <stop offset="0.85" stop-color="#BED8D9"/>
                      <stop offset="0.91" stop-color="#BED8D9"/>
                    </linearGradient>
                    <radialGradient id="paint4_radial_40_2500" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(41.9783 27.9595) scale(18.7485 18.7656)">
                      <stop stop-color="#75D982"/>
                      <stop offset="0.13" stop-color="#70D179"/>
                      <stop offset="0.47" stop-color="#67BF67"/>
                      <stop offset="0.74" stop-color="#51AA59"/>
                      <stop offset="0.84" stop-color="#48A153"/>
                      <stop offset="0.93" stop-color="#49A254"/>
                      <stop offset="0.96" stop-color="#50A958"/>
                      <stop offset="0.99" stop-color="#5CB460"/>
                      <stop offset="1" stop-color="#67BF67"/>
                    </radialGradient>
                    <radialGradient id="paint5_radial_40_2500" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(40.7304 28.4243) rotate(16.3141) scale(14.3958 15.3673)">
                      <stop offset="0.2" stop-color="#67BF67"/>
                      <stop offset="1" stop-color="#67BF67"/>
                    </radialGradient>
                    <linearGradient id="paint6_linear_40_2500" x1="40.4346" y1="47.2382" x2="38.9113" y2="63.136" gradientUnits="userSpaceOnUse">
                      <stop offset="0.23" stop-color="#A6BBBE"/>
                      <stop offset="0.25" stop-color="#A8BEC1"/>
                      <stop offset="0.38" stop-color="#B8D1D2"/>
                      <stop offset="0.47" stop-color="#BED8D9"/>
                      <stop offset="0.55" stop-color="#BAD3D4"/>
                      <stop offset="0.63" stop-color="#AFC5C8"/>
                      <stop offset="0.68" stop-color="#A6BBBE"/>
                      <stop offset="0.74" stop-color="#9BAFB2"/>
                      <stop offset="0.85" stop-color="#809093"/>
                      <stop offset="0.9" stop-color="#717F82"/>
                    </linearGradient>
                    <linearGradient id="paint7_linear_40_2500" x1="35.8616" y1="61.4559" x2="34.087" y2="75.6614" gradientUnits="userSpaceOnUse">
                      <stop offset="0.23" stop-color="#A6BBBE"/>
                      <stop offset="0.25" stop-color="#A8BEC1"/>
                      <stop offset="0.38" stop-color="#B8D1D2"/>
                      <stop offset="0.47" stop-color="#BED8D9"/>
                      <stop offset="0.55" stop-color="#BAD3D4"/>
                      <stop offset="0.63" stop-color="#AFC5C8"/>
                      <stop offset="0.68" stop-color="#A6BBBE"/>
                      <stop offset="0.74" stop-color="#9BAFB2"/>
                      <stop offset="0.85" stop-color="#809093"/>
                      <stop offset="0.9" stop-color="#717F82"/>
                    </linearGradient>
                    <linearGradient id="paint8_linear_40_2500" x1="40.0741" y1="23.5794" x2="47.1645" y2="31.3723" gradientUnits="userSpaceOnUse">
                      <stop stop-color="#FFFDA6"/>
                      <stop offset="0.47" stop-color="#F5E37B"/>
                      <stop offset="0.67" stop-color="#F5E278"/>
                      <stop offset="0.79" stop-color="#F5DF6F"/>
                      <stop offset="0.89" stop-color="#F5DA61"/>
                      <stop offset="0.98" stop-color="#F5D44C"/>
                      <stop offset="1" stop-color="#F6D246"/>
                    </linearGradient>
                    <clipPath id="clip0_40_2500">
                      <rect width="99" height="108" fill="white"/>
                    </clipPath>
                  </defs>
                </svg></div>
                <div class="indvidualText">
                  <div class="greenCircle"><p>1</p></div>
                  <p class="greenCircleText">Pre-Registration Requirements</p>
                </div>
            </div>
            <div class="indvidualGuidence tow">
              <div class="customSVH"><svg xmlns="http://www.w3.org/2000/svg" width="137" height="103" viewBox="0 0 137 103" fill="none">
                <g clip-path="url(#clip0_40_2514)">
                  <path d="M96.3462 23.5114C98.3771 16.2637 101.659 8.18126 107.714 3.28898C108.937 2.30073 110.623 1.05029 111.673 0.0202637C108.81 0.0958952 105.46 0.405624 102.6 0.582818C95.7003 1.01068 66.8613 2.79918 59.342 3.26522C54.4608 3.56774 49.5796 3.87027 44.6977 4.17351C38.9986 4.52718 34.4257 10.8406 31.903 15.3994C29.0577 20.5416 27.4226 26.2889 26.3308 32.0405C24.8511 39.837 23.1901 77.7118 22.8023 81.2189C22.1163 87.4258 19.6854 97.3587 11.8428 97.4257C14.9906 97.4257 74.2178 97.8514 78.8295 97.8471C84.2089 97.842 87.3767 93.5634 89.1718 88.9528C91.3719 83.3021 91.9511 58.8673 92.2464 52.5337C92.5425 46.1864 95.4301 26.7801 96.3462 23.5107V23.5114Z" fill="url(#paint0_radial_40_2514)"/>
                  <path d="M96.3462 23.5114C98.3771 16.2637 101.659 8.18126 107.714 3.28898C108.937 2.30073 110.623 1.05029 111.673 0.0202637C108.81 0.0958952 105.46 0.405624 102.6 0.582818C95.7003 1.01068 66.8613 2.79918 59.342 3.26522C54.4608 3.56774 49.5796 3.87027 44.6977 4.17351C38.9986 4.52718 34.4257 10.8406 31.903 15.3994C29.0577 20.5416 27.4226 26.2889 26.3308 32.0405C24.8511 39.837 23.1901 77.7118 22.8023 81.2189C22.1163 87.4258 19.6854 97.3587 11.8428 97.4257C14.9906 97.4257 74.2178 97.8514 78.8295 97.8471C84.2089 97.842 87.3767 93.5634 89.1718 88.9528C91.3719 83.3021 91.9511 58.8673 92.2464 52.5337C92.5425 46.1864 95.4301 26.7801 96.3462 23.5107V23.5114Z" fill="url(#paint1_linear_40_2514)"/>
                  <path d="M77.2308 102.206C74.1669 101.503 72.1052 99.6441 70.4292 97.0302C69.1868 95.0933 68.1172 93.0109 67.7215 90.7268C67.3215 88.4175 67.8534 86.7162 70.065 85.4614C67.8283 85.465 3.98299 86.0319 3.02524 86.0405C1.04524 86.0578 0.0401886 88.0531 0.00147749 89.7818C-0.0379505 91.5213 0.52121 93.2788 1.18575 94.8649C2.13561 97.1303 3.62025 99.2552 5.5938 100.734C7.33508 102.039 9.61402 102.817 11.8198 102.823C11.8198 102.823 79.2804 103 79.2875 103C78.4517 102.778 77.9606 102.373 77.2301 102.206H77.2308Z" fill="url(#paint2_linear_40_2514)"/>
                  <mask id="mask0_40_2514" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="11" y="0" width="101" height="98">
                    <path d="M96.3462 23.5114C98.3771 16.2637 101.659 8.18126 107.714 3.28898C108.937 2.30073 110.623 1.05029 111.673 0.0202637C108.81 0.0958952 105.46 0.405624 102.6 0.582818C95.7003 1.01068 66.8613 2.79918 59.342 3.26522C54.4608 3.56774 49.5796 3.87027 44.6977 4.17351C38.9986 4.52718 34.4257 10.8406 31.903 15.3994C29.0577 20.5416 27.4226 26.2889 26.3308 32.0405C24.8511 39.837 23.1901 77.7118 22.8023 81.2189C22.1163 87.4258 19.6854 97.3587 11.8428 97.4257C14.9906 97.4257 74.2178 97.8514 78.8295 97.8471C84.2089 97.842 87.3767 93.5634 89.1718 88.9528C91.3719 83.3021 91.9511 58.8673 92.2464 52.5337C92.5425 46.1864 95.4301 26.7801 96.3462 23.5107V23.5114Z" fill="white"/>
                  </mask>
                  <g mask="url(#mask0_40_2514)">
                    <path d="M94.885 101.222C109.363 95.7191 116.545 79.1605 110.926 64.2371C105.308 49.3137 89.0174 41.6766 74.5398 47.1792C60.0621 52.6818 52.8801 69.2404 58.4983 84.1638C64.1165 99.0872 80.4073 106.724 94.885 101.222Z" fill="url(#paint3_radial_40_2514)"/>
                  </g>
                  <path d="M114.459 1.81077C113.91 0.491185 112.441 -0.421435 111.045 0.198743C108.559 1.30656 106.337 3.12604 104.371 5.47278C99.9133 10.7915 97.3046 17.7834 95.5368 24.4224C93.9669 30.3188 93.0493 36.4666 92.5023 42.5416C92.1023 46.9829 91.8829 51.4459 91.7245 55.9017C91.5023 62.1705 91.399 68.4472 91.075 74.7116C90.8277 79.503 90.3861 84.7511 88.5595 89.2307C86.4225 94.4723 78.1534 101.812 74.0013 93.8212C72.9267 91.7532 73.0278 89.4136 72.2507 87.2736C72.0134 86.6218 71.6026 85.9079 70.9481 85.609C69.1567 84.7908 67.4828 86.8623 67.2369 88.411C66.6705 91.9837 68.7939 96.5331 71.113 99.1802C72.6887 100.979 75.0063 102.382 77.3512 102.819C79.3613 103.194 81.7026 102.912 83.6081 102.174C88.1021 100.433 91.2944 96.3501 93.1604 92.0233C94.6658 88.5327 95.4479 84.6352 95.8802 80.868C96.8179 72.6962 96.7025 64.4207 96.9928 56.2093C97.1469 51.8601 97.3584 47.5073 97.7462 43.1726C98.2502 37.5384 99.0495 31.8912 100.353 26.3852C101.69 20.7424 103.713 14.563 107.455 10.0409C109.112 8.03849 111.038 6.47544 113.288 5.4699C114.753 4.81515 115.009 3.13757 114.457 1.81077H114.459Z" fill="url(#paint4_linear_40_2514)"/>
                  <path d="M58.7254 21.6214C56.9418 21.6214 55.4779 20.1872 55.4414 18.3872C55.4041 16.5641 56.845 15.0558 58.6594 15.0191L79.5942 14.6842C81.4079 14.651 82.9098 16.0945 82.9463 17.9176C82.9836 19.7407 81.5427 21.249 79.7283 21.2857L58.7935 21.6206C58.7705 21.6206 58.7476 21.6206 58.7254 21.6206V21.6214Z" fill="url(#paint5_linear_40_2514)"/>
                  <path d="M51.2129 19.1526C51.7633 16.7441 50.2662 14.3433 47.8691 13.7904C45.472 13.2374 43.0827 14.7416 42.5323 17.1502C41.982 19.5587 43.4791 21.9595 45.8762 22.5124C48.2733 23.0654 50.6626 21.5612 51.2129 19.1526Z" fill="url(#paint6_radial_40_2514)"/>
                  <path d="M46.4795 33.9664C46.6934 31.5045 44.8806 29.3346 42.4305 29.1196C39.9804 28.9047 37.8208 30.7261 37.6068 33.188C37.3929 35.6498 39.2057 37.8198 41.6558 38.0347C44.1059 38.2497 46.2656 36.4282 46.4795 33.9664Z" fill="url(#paint7_radial_40_2514)"/>
                  <path d="M44.6168 49.5309C44.9126 47.0776 43.1732 44.8479 40.7317 44.5506C38.2901 44.2533 36.0709 46.001 35.775 48.4542C35.4791 50.9075 37.2185 53.1373 39.6601 53.4346C42.1017 53.7319 44.3209 51.9841 44.6168 49.5309Z" fill="url(#paint8_radial_40_2514)"/>
                  <path d="M39.7384 68.8931C42.1978 68.8931 44.1916 66.8898 44.1916 64.4186C44.1916 61.9474 42.1978 59.9441 39.7384 59.9441C37.2789 59.9441 35.2852 61.9474 35.2852 64.4186C35.2852 66.8898 37.2789 68.8931 39.7384 68.8931Z" fill="url(#paint9_radial_40_2514)"/>
                  <path d="M53.8916 37.0436C52.1081 37.0436 50.6442 35.6094 50.6076 33.8094C50.5704 31.9863 52.0113 30.4787 53.8257 30.4413L74.7591 30.1063C76.5749 30.0646 78.0739 31.5167 78.1112 33.3398C78.1484 35.1629 76.7075 36.6704 74.8931 36.7079L53.9597 37.0428C53.9368 37.0428 53.9139 37.0428 53.8916 37.0428V37.0436Z" fill="url(#paint10_linear_40_2514)"/>
                  <path d="M52.0506 52.466C50.267 52.466 48.8031 51.0318 48.7666 49.2318C48.7293 47.4087 50.1702 45.9004 51.9846 45.8637L72.9187 45.5288C74.7346 45.492 76.2335 46.9391 76.2708 48.7622C76.3081 50.5853 74.8672 52.0936 73.0528 52.1303L52.1187 52.4652C52.0957 52.4652 52.0728 52.4652 52.0506 52.4652V52.466Z" fill="url(#paint11_linear_40_2514)"/>
                  <path d="M51.5904 67.8874C49.8068 67.8874 48.3429 66.4533 48.3064 64.6533C48.2691 62.8302 49.71 61.3226 51.5244 61.2852L67.8548 60.9502C69.6706 60.9056 71.1696 62.3606 71.2069 64.1836C71.2441 66.0067 69.8032 67.5143 67.9888 67.5518L51.6585 67.8867C51.6355 67.8867 51.6126 67.8867 51.5904 67.8867V67.8874Z" fill="url(#paint12_linear_40_2514)"/>
                  <path d="M53.2529 76.2811L49.9482 76.4309C48.7668 76.485 48.0169 75.0076 48.7524 74.077L50.7883 71.5041C51.3776 70.7593 52.5353 70.9278 53.0063 71.8275L54.2752 74.2506C54.7541 75.1646 54.2135 76.2372 53.2522 76.2811H53.2529Z" fill="url(#paint13_linear_40_2514)"/>
                  <path d="M111.81 42.0496L108.942 37.0947C107.664 34.8862 104.846 34.1379 102.648 35.4222L70.7024 54.0923L60.839 59.8569L53.1914 64.3263C52.1548 64.9321 51.3942 65.9204 51.0716 67.0808L49.9805 71.0086C49.2801 73.5289 50.7978 76.1306 53.3283 76.7479L57.3621 77.7318C58.517 78.0135 59.7357 77.8356 60.763 77.2356L110.145 48.3753C112.343 47.091 113.089 44.2595 111.81 42.0511V42.0496Z" fill="url(#paint14_linear_40_2514)"/>
                  <path d="M111.81 42.0496L108.942 37.0947C107.664 34.8862 104.846 34.1379 102.648 35.4222L70.7024 54.0923L60.839 59.8569L53.1914 64.3263C52.1548 64.9321 51.3942 65.9204 51.0716 67.0808L49.9805 71.0086C49.2801 73.5289 50.7978 76.1306 53.3283 76.7479L57.3621 77.7318C58.517 78.0135 59.7357 77.8356 60.763 77.2356L110.145 48.3753C112.343 47.091 113.089 44.2595 111.81 42.0511V42.0496Z" fill="url(#paint15_linear_40_2514)"/>
                  <path d="M133.815 36.5272C133.815 36.5272 102.64 54.7472 102.587 54.7774C98.8273 56.9751 94.3396 53.3916 92.6285 50.8115C90.7431 47.9692 89.3086 41.7134 93.5353 39.2427C93.5353 39.2427 124.79 20.9767 124.807 20.9658C129.316 18.331 134.631 22.2912 136.188 25.7832C137.511 28.753 137.536 34.3519 133.815 36.5265V36.5272Z" fill="url(#paint16_linear_40_2514)"/>
                  <path d="M133.815 36.5272C133.815 36.5272 102.64 54.7472 102.587 54.7774C98.8273 56.9751 94.3396 53.3916 92.6285 50.8115C90.7431 47.9692 89.3086 41.7134 93.5353 39.2427C93.5353 39.2427 124.79 20.9767 124.807 20.9658C129.316 18.331 134.631 22.2912 136.188 25.7832C137.511 28.753 137.536 34.3519 133.815 36.5265V36.5272Z" fill="url(#paint17_radial_40_2514)"/>
                  <path d="M94.6221 34.2279C101.943 27.8281 110.443 22.4611 119.803 18.4102C122.117 17.5191 124.811 18.2344 125.762 19.9113C125.959 20.2469 126.156 20.5826 126.353 20.919C127.308 22.6009 126.215 24.6832 123.971 25.6643C114.66 29.6951 106.193 34.9814 98.881 41.2458C97.119 42.7642 94.7791 42.4516 93.5661 40.4773C92.3553 38.5051 92.789 35.6743 94.6221 34.2272V34.2279Z" fill="url(#paint18_radial_40_2514)"/>
                </g>
                <defs>
                  <radialGradient id="paint0_radial_40_2514" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-144.752 45.2321) scale(269.256 270.543)">
                    <stop offset="0.63" stop-color="#C0D9DA"/>
                    <stop offset="0.65" stop-color="#D7E7E9"/>
                    <stop offset="0.67" stop-color="#E6F0F3"/>
                    <stop offset="0.7" stop-color="#F0F6F9"/>
                    <stop offset="0.73" stop-color="#F3F8FB"/>
                    <stop offset="0.82" stop-color="#F3F8FB"/>
                    <stop offset="0.85" stop-color="#EAF2F5"/>
                    <stop offset="0.89" stop-color="#D1E3E5"/>
                    <stop offset="0.92" stop-color="#BED8D9"/>
                    <stop offset="0.95" stop-color="#B9D2D3"/>
                    <stop offset="0.99" stop-color="#ABC1C3"/>
                    <stop offset="1" stop-color="#A6BBBE"/>
                  </radialGradient>
                  <linearGradient id="paint1_linear_40_2514" x1="61.7579" y1="0.0202637" x2="61.7579" y2="97.8478" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#BED8D9"/>
                    <stop offset="0.21" stop-color="#F3F8FB"/>
                    <stop offset="0.82" stop-color="#BED8D9"/>
                    <stop offset="0.91" stop-color="#B2C9CB"/>
                    <stop offset="0.99" stop-color="#A6BBBE"/>
                  </linearGradient>
                  <linearGradient id="paint2_linear_40_2514" x1="39.6445" y1="81.718" x2="39.6445" y2="107.966" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#BED8D9"/>
                    <stop offset="0.03" stop-color="#C2DADB"/>
                    <stop offset="0.17" stop-color="#D5E6E9"/>
                    <stop offset="0.27" stop-color="#DDEBEE"/>
                    <stop offset="0.4" stop-color="#D4E5E8"/>
                    <stop offset="0.58" stop-color="#BED8D9"/>
                    <stop offset="0.7" stop-color="#AECBD0"/>
                    <stop offset="0.91" stop-color="#84ACBA"/>
                    <stop offset="1" stop-color="#729EB1"/>
                  </linearGradient>
                  <radialGradient id="paint3_radial_40_2514" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(84.5085 73.9127) rotate(-20.8106) scale(28.0267 28.7384)">
                    <stop offset="0.28" stop-color="#729EB1"/>
                    <stop offset="1" stop-color="#ABC0C3"/>
                  </radialGradient>
                  <linearGradient id="paint4_linear_40_2514" x1="131.122" y1="4.40674" x2="58.4883" y2="103.946" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#E3ECF1"/>
                    <stop offset="0.04" stop-color="#D5E4E7"/>
                    <stop offset="0.09" stop-color="#C7DDDF"/>
                    <stop offset="0.16" stop-color="#C0D9DA"/>
                    <stop offset="0.3" stop-color="#BED8D9"/>
                    <stop offset="0.4" stop-color="#AAC9CE"/>
                    <stop offset="0.59" stop-color="#78A3B4"/>
                    <stop offset="0.61" stop-color="#729EB1"/>
                    <stop offset="0.68" stop-color="#93B7C2"/>
                    <stop offset="0.77" stop-color="#BED8D9"/>
                    <stop offset="0.87" stop-color="#C0D9DA"/>
                    <stop offset="0.93" stop-color="#C8DDDF"/>
                    <stop offset="0.97" stop-color="#D6E5E8"/>
                    <stop offset="1" stop-color="#E3ECF1"/>
                  </linearGradient>
                  <linearGradient id="paint5_linear_40_2514" x1="69.1939" y1="12.704" x2="69.1939" y2="25.2899" gradientUnits="userSpaceOnUse">
                    <stop offset="0.14" stop-color="#A6BBBE"/>
                    <stop offset="0.16" stop-color="#A8BEC1"/>
                    <stop offset="0.28" stop-color="#B8D1D2"/>
                    <stop offset="0.36" stop-color="#BED8D9"/>
                    <stop offset="0.47" stop-color="#BAD3D4"/>
                    <stop offset="0.6" stop-color="#AFC5C8"/>
                    <stop offset="0.68" stop-color="#A6BBBE"/>
                    <stop offset="0.74" stop-color="#9BAFB2"/>
                    <stop offset="0.85" stop-color="#809093"/>
                    <stop offset="0.9" stop-color="#717F82"/>
                  </linearGradient>
                  <radialGradient id="paint6_radial_40_2514" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(46.177 17.3837) scale(5.55791 5.58448)">
                    <stop stop-color="#67BF67"/>
                    <stop offset="1" stop-color="#48A153"/>
                  </radialGradient>
                  <radialGradient id="paint7_radial_40_2514" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(41.093 32.7241) scale(5.99592 6.02459)">
                    <stop stop-color="#67BF67"/>
                    <stop offset="1" stop-color="#48A153"/>
                  </radialGradient>
                  <radialGradient id="paint8_radial_40_2514" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(39.241 48.1455) scale(5.99592 6.02459)">
                    <stop stop-color="#67BF67"/>
                    <stop offset="1" stop-color="#48A153"/>
                  </radialGradient>
                  <radialGradient id="paint9_radial_40_2514" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(38.7864 63.5686) scale(5.99592 6.02459)">
                    <stop stop-color="#67BF67"/>
                    <stop offset="1" stop-color="#48A153"/>
                  </radialGradient>
                  <linearGradient id="paint10_linear_40_2514" x1="64.3601" y1="26.7411" x2="64.3601" y2="40.6832" gradientUnits="userSpaceOnUse">
                    <stop offset="0.14" stop-color="#A6BBBE"/>
                    <stop offset="0.16" stop-color="#A8BEC1"/>
                    <stop offset="0.28" stop-color="#B8D1D2"/>
                    <stop offset="0.36" stop-color="#BED8D9"/>
                    <stop offset="0.47" stop-color="#BAD3D4"/>
                    <stop offset="0.6" stop-color="#AFC5C8"/>
                    <stop offset="0.68" stop-color="#A6BBBE"/>
                    <stop offset="0.74" stop-color="#9BAFB2"/>
                    <stop offset="0.85" stop-color="#809093"/>
                    <stop offset="0.9" stop-color="#717F82"/>
                  </linearGradient>
                  <linearGradient id="paint11_linear_40_2514" x1="62.519" y1="43.1021" x2="62.519" y2="55.3097" gradientUnits="userSpaceOnUse">
                    <stop offset="0.14" stop-color="#A6BBBE"/>
                    <stop offset="0.16" stop-color="#A8BEC1"/>
                    <stop offset="0.28" stop-color="#B8D1D2"/>
                    <stop offset="0.36" stop-color="#BED8D9"/>
                    <stop offset="0.47" stop-color="#BAD3D4"/>
                    <stop offset="0.6" stop-color="#AFC5C8"/>
                    <stop offset="0.68" stop-color="#A6BBBE"/>
                    <stop offset="0.74" stop-color="#9BAFB2"/>
                    <stop offset="0.85" stop-color="#809093"/>
                    <stop offset="0.9" stop-color="#717F82"/>
                  </linearGradient>
                  <linearGradient id="paint12_linear_40_2514" x1="59.757" y1="57.7197" x2="59.757" y2="71.7108" gradientUnits="userSpaceOnUse">
                    <stop offset="0.14" stop-color="#A6BBBE"/>
                    <stop offset="0.16" stop-color="#A8BEC1"/>
                    <stop offset="0.28" stop-color="#B8D1D2"/>
                    <stop offset="0.36" stop-color="#BED8D9"/>
                    <stop offset="0.47" stop-color="#BAD3D4"/>
                    <stop offset="0.6" stop-color="#AFC5C8"/>
                    <stop offset="0.68" stop-color="#A6BBBE"/>
                    <stop offset="0.74" stop-color="#9BAFB2"/>
                    <stop offset="0.85" stop-color="#809093"/>
                    <stop offset="0.9" stop-color="#717F82"/>
                  </linearGradient>
                  <linearGradient id="paint13_linear_40_2514" x1="50.1964" y1="72.7514" x2="52.3319" y2="76.1356" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#E8C7FC"/>
                    <stop offset="0.32" stop-color="#CF8AFF"/>
                    <stop offset="1" stop-color="#9A6CF0"/>
                  </linearGradient>
                  <linearGradient id="paint14_linear_40_2514" x1="75.9677" y1="49.565" x2="85.5398" y2="65.6036" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#8856ED"/>
                    <stop offset="0.1" stop-color="#8D5CED"/>
                    <stop offset="0.39" stop-color="#9A6CF0"/>
                    <stop offset="0.49" stop-color="#9262EE"/>
                    <stop offset="0.68" stop-color="#7D48EA"/>
                    <stop offset="0.88" stop-color="#6125E5"/>
                  </linearGradient>
                  <linearGradient id="paint15_linear_40_2514" x1="46.4741" y1="76.7949" x2="97.4947" y2="47.4488" gradientUnits="userSpaceOnUse">
                    <stop offset="0.08" stop-color="#CF8AFF"/>
                    <stop offset="0.09" stop-color="#C484FC"/>
                    <stop offset="0.12" stop-color="#AD76F5"/>
                    <stop offset="0.14" stop-color="#9E6EF1"/>
                    <stop offset="0.17" stop-color="#9A6CF0"/>
                    <stop offset="0.55" stop-color="#9667EF"/>
                    <stop offset="0.66" stop-color="#9262EE"/>
                    <stop offset="0.77" stop-color="#8855EC"/>
                    <stop offset="0.89" stop-color="#7740E9"/>
                    <stop offset="1" stop-color="#6125E5"/>
                  </linearGradient>
                  <linearGradient id="paint16_linear_40_2514" x1="108.915" y1="29.1677" x2="121.127" y2="49.2275" gradientUnits="userSpaceOnUse">
                    <stop offset="0.04" stop-color="#6125E5"/>
                    <stop offset="0.06" stop-color="#682EE6"/>
                    <stop offset="0.13" stop-color="#7E49EA"/>
                    <stop offset="0.2" stop-color="#8D5CED"/>
                    <stop offset="0.27" stop-color="#9668EF"/>
                    <stop offset="0.35" stop-color="#9A6CF0"/>
                    <stop offset="0.52" stop-color="#8856EC"/>
                    <stop offset="0.85" stop-color="#6125E5"/>
                  </linearGradient>
                  <radialGradient id="paint17_radial_40_2514" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(135.637 23.8157) rotate(-38.9736) scale(53.7354 53.7896)">
                    <stop stop-color="#6125E5"/>
                    <stop offset="0.05" stop-color="#6429E5"/>
                    <stop offset="0.1" stop-color="#6E35E7"/>
                    <stop offset="0.16" stop-color="#7F4AEA"/>
                    <stop offset="0.21" stop-color="#9668EF"/>
                    <stop offset="0.22" stop-color="#9A6CF0"/>
                    <stop offset="0.85" stop-color="#9667EF"/>
                    <stop offset="0.87" stop-color="#A470F3"/>
                    <stop offset="0.93" stop-color="#C382FB"/>
                    <stop offset="0.97" stop-color="#CF8AFF"/>
                  </radialGradient>
                  <radialGradient id="paint18_radial_40_2514" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(150.126 95.2299) rotate(138.374) scale(84.4713 84.5196)">
                    <stop offset="0.82" stop-color="#6125E5"/>
                    <stop offset="0.84" stop-color="#6528E5"/>
                    <stop offset="0.86" stop-color="#7133E8"/>
                    <stop offset="0.88" stop-color="#8546ED"/>
                    <stop offset="0.89" stop-color="#A160F4"/>
                    <stop offset="0.91" stop-color="#C581FC"/>
                    <stop offset="0.92" stop-color="#CF8AFF"/>
                    <stop offset="0.95" stop-color="#B77CF8"/>
                    <stop offset="1" stop-color="#9A6CF0"/>
                  </radialGradient>
                  <clipPath id="clip0_40_2514">
                    <rect width="137" height="103" fill="white"/>
                  </clipPath>
                </defs>
              </svg></div>
              <div class="indvidualText">
                <div class="greenCircle"><p>2</p></div>
                <p class="greenCircleText">Approvals and Registration</p>
              </div>
          </div>
          <div class="indvidualGuidence three">
            <div class="customSVH"><svg xmlns="http://www.w3.org/2000/svg" width="144" height="123" viewBox="0 0 144 123" fill="none">
              <g clip-path="url(#clip0_40_2543)">
                <path d="M143.46 55.3852C143.929 54.3026 144.08 53.1286 143.962 51.9775C143.909 50.2456 143.853 48.513 143.794 46.7803C143.796 46.8003 143.796 46.8211 143.799 46.8411C143.579 44.5799 142.313 42.4033 140.379 41.1899C140.272 41.1245 140.159 41.0684 140.055 40.9999C125.634 31.5949 108.597 21.4982 93.0514 13.8166C89.8743 12.2532 86.3628 13.3034 85.0234 16.0694C74.5758 37.7431 56.2125 56.2892 33.0837 70.1551C31.3652 71.1823 30.6009 72.6703 30.8247 74.169C30.8231 74.156 30.8185 74.1437 30.817 74.1306C31.183 76.7827 31.5413 79.4332 31.8919 82.083C32.0372 83.1786 32.7084 84.2834 33.9264 85.2252C47.9731 96.0405 61.7293 107.177 75.1786 118.62C75.4523 118.854 75.7484 119.068 76.0636 119.261C78.8977 120.999 83.2373 121.075 86.2137 119.19C111.951 102.933 132.306 81.1113 143.46 55.3867V55.3852Z" fill="url(#paint0_radial_40_2543)"/>
                <path d="M143.46 55.3852C143.929 54.3026 144.08 53.1286 143.962 51.9775C143.909 50.2456 143.853 48.513 143.794 46.7803C143.796 46.8003 143.797 46.8211 143.799 46.8411C143.579 44.5799 142.313 42.4033 140.379 41.1899C140.272 41.1245 140.159 41.0684 140.055 40.9999C125.52 31.5218 108.596 21.4997 93.0514 13.8166C89.8743 12.2532 86.3628 13.3034 85.0234 16.0694C74.5758 37.7431 56.2125 56.2892 33.0837 70.1551C31.3652 71.1823 30.6009 72.6703 30.8247 74.169C30.8231 74.156 30.8185 74.1437 30.817 74.1306C31.183 76.7827 31.5413 79.4332 31.8919 82.083C32.0372 83.1786 32.7084 84.2834 33.9264 85.2252C47.9731 96.0405 61.7293 107.177 75.1786 118.62C75.4523 118.854 75.7484 119.068 76.0636 119.261C78.8977 120.999 83.2373 121.075 86.2137 119.19C111.951 102.933 132.306 81.1113 143.46 55.3867V55.3852Z" fill="url(#paint1_linear_40_2543)"/>
                <path d="M103.057 77.9798C103.039 77.9691 103.022 77.9591 103.005 77.9491C92.018 71.4793 81.0306 65.0087 70.0456 58.5397C68.5155 57.661 66.3834 58.085 65.2677 59.4745C64.1697 60.8394 64.4827 62.6313 65.9751 63.5284C65.9828 63.533 65.9897 63.5376 65.9974 63.5415C66.0151 63.5545 99.5277 83.037 99.5293 83.0378C101.087 83.9172 103.128 83.501 104.074 82.0945C105.009 80.7042 104.542 78.8731 103.057 77.9798Z" fill="url(#paint2_linear_40_2543)"/>
                <path d="M114.152 66.7599C114.134 66.7491 114.117 66.7391 114.1 66.7291C103.113 60.2593 92.1256 53.7887 81.1405 47.3197C79.6105 46.4411 77.4783 46.865 76.3627 48.2545C75.2647 49.6194 75.5777 51.4113 77.0701 52.3084C77.0777 52.313 77.0847 52.3176 77.0924 52.3215C77.11 52.3346 110.623 71.8171 110.624 71.8178C112.182 72.6972 114.223 72.281 115.169 70.8746C116.104 69.4843 115.637 67.6531 114.152 66.7599Z" fill="url(#paint3_linear_40_2543)"/>
                <path d="M122.044 54.0511C122.026 54.0403 122.009 54.0303 121.991 54.0203C111.005 47.5505 100.017 41.08 89.0324 34.611C87.5023 33.7323 85.3702 34.1562 84.2545 35.5458C83.1566 36.9107 83.4695 38.7026 84.9619 39.5997C84.9696 39.6043 84.9765 39.6089 84.9842 39.6128C85.0019 39.6258 118.515 59.1083 118.516 59.1091C120.074 59.9885 122.115 59.5723 123.061 58.1658C123.996 56.7755 123.528 54.9444 122.044 54.0511Z" fill="url(#paint4_linear_40_2543)"/>
                <path d="M66.0035 80.1334C64.4742 79.1732 64.1559 77.429 65.3269 76.1256C66.5148 74.8046 68.7353 74.4653 70.3054 75.3809C76.3335 78.92 82.3585 82.46 88.3819 86.0015C89.9558 86.9125 90.3626 88.7475 89.2838 90.0808C88.2058 91.4142 86.0237 91.7404 84.4252 90.8233C84.426 90.8217 66.0243 80.1457 66.0035 80.1326V80.1334Z" fill="url(#paint5_linear_40_2543)"/>
                <mask id="mask0_40_2543" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="83" height="123">
                  <path d="M5.29061 113.663L54.364 122.421C58.659 123.187 62.7602 120.319 63.5183 116.02L81.8939 11.7732C82.7182 7.09606 79.259 2.75517 74.5188 2.51743L24.5512 0.0161416C21.4295 -0.140044 18.68 2.05349 18.1372 5.13335L0.2744 106.48C-0.31918 109.849 1.92443 113.063 5.29061 113.663V113.663Z" fill="white"/>
                </mask>
                <g mask="url(#mask0_40_2543)">
                  <path d="M4.19105 113.462L57.1265 122.922C59.8845 123.409 62.5157 121.566 63.0024 118.805L82.429 8.61339C82.9611 5.59431 80.7175 2.79604 77.6573 2.66139L23.5224 0.00469008C20.9797 -0.106871 18.7476 1.68504 18.3055 4.19325L0.0775135 107.583C-0.409191 110.343 1.43229 112.976 4.19105 113.463V113.462Z" fill="url(#paint6_linear_40_2543)"/>
                  <path d="M4.19105 113.462L56.5714 122.824C59.6362 123.365 62.5587 121.317 63.1 118.251L82.3168 9.24583C82.908 5.89129 80.4153 2.78219 77.0145 2.63292L23.5224 0.00469008C20.9797 -0.106871 18.7476 1.68504 18.3055 4.19325L0.0775135 107.583C-0.409191 110.343 1.43229 112.976 4.19105 113.463V113.462Z" fill="url(#paint7_linear_40_2543)"/>
                  <path d="M4.19105 113.462L56.5714 122.824C59.6362 123.365 62.5587 121.317 63.1 118.251L82.3168 9.24583C82.908 5.89129 80.4153 2.78219 77.0145 2.63292L23.5224 0.00469008C20.9797 -0.106871 18.7476 1.68504 18.3055 4.19325L0.0775135 107.583C-0.409191 110.343 1.43229 112.976 4.19105 113.463V113.462Z" fill="url(#paint8_linear_40_2543)"/>
                  <path d="M9.27948 108.006L52.2264 115.222C54.5553 115.612 56.7582 114.038 57.1434 111.706L73.3354 13.5976C73.7467 11.1063 71.9191 8.80352 69.4002 8.64041L27.5174 5.93139C25.2339 5.78367 23.2017 7.37169 22.7919 9.62446L5.7872 103.03C5.36047 105.373 6.93207 107.612 9.27871 108.006H9.27948Z" fill="url(#paint9_linear_40_2543)"/>
                </g>
                <path d="M44.82 27.7727C43.2707 27.5227 41.6253 27.5396 39.9253 27.8673C31.1999 29.55 24.9251 38.0894 27.3217 46.9236C31.5905 62.6599 55.8204 57.0257 56.0942 41.9002C56.2249 34.6834 51.3909 28.8322 44.82 27.7727Z" fill="url(#paint10_radial_40_2543)"/>
                <path d="M49.7672 52.1776C56.1405 46.9967 57.5735 38.1978 52.9678 32.5248C48.3622 26.8518 39.462 26.4529 33.0887 31.6339C26.7154 36.8149 25.2824 45.6138 29.8881 51.2868C34.4938 56.9598 43.394 57.3586 49.7672 52.1776Z" fill="url(#paint11_radial_40_2543)"/>
                <path opacity="0.18" d="M31.9665 37.3622C31.6913 37.7785 31.3537 38.1247 30.9447 38.0008C30.6364 37.9077 30.4918 37.5492 30.4703 37.2283C30.418 36.4528 30.8332 35.7234 31.3084 35.1087C32.2933 33.8338 33.6104 32.6897 35.0867 32.0273C35.3204 31.9226 35.5734 31.8365 35.8286 31.8588C36.0839 31.8819 36.3415 32.0388 36.4145 32.285C36.6321 33.0198 34.9921 33.9361 34.52 34.3139C33.7703 34.9132 33.1029 35.6165 32.5409 36.3951C32.391 36.6028 32.2018 37.0075 31.9673 37.3622H31.9665Z" fill="white"/>
                <path d="M47.8385 37.2483C47.4041 37.1822 46.9504 37.2783 46.5683 37.5553C43.9356 39.4634 41.2315 41.3784 38.4573 43.3019C37.5285 41.877 36.6028 40.4482 35.6778 39.0133C35.3795 38.5509 34.9205 38.2693 34.4284 38.1939C33.9878 38.127 33.5211 38.2247 33.119 38.5063C32.2693 39.1033 32.0225 40.3005 32.5792 41.1761C33.8256 43.138 35.0758 45.0907 36.3275 47.0358C36.5959 47.4535 37.0203 47.7397 37.5101 47.8321C37.5308 47.8359 37.5524 47.8398 37.5731 47.8428C38.0421 47.9144 38.5304 47.8021 38.9317 47.5282C42.291 45.2454 45.548 42.9734 48.7035 40.7121C49.5285 40.122 49.7054 38.9387 49.1102 38.0662C48.795 37.6038 48.3291 37.3222 47.8385 37.2476V37.2483Z" fill="url(#paint12_linear_40_2543)"/>
                <path d="M67.3875 17.5813C67.0784 19.1147 65.5852 20.1072 64.0528 19.7979C62.5204 19.4886 61.5286 17.9945 61.8377 16.4611C62.1468 14.9277 63.6399 13.9352 65.1723 14.2444C66.7047 14.5537 67.6966 16.0479 67.3875 17.5813Z" fill="#BED8D9"/>
                <path d="M66.0767 18.4596C67.2343 17.4079 67.3206 15.6163 66.2695 14.458C65.2185 13.2997 63.428 13.2133 62.2705 14.2651C61.1129 15.3168 61.0266 17.1084 62.0777 18.2667C63.1288 19.425 64.9192 19.5114 66.0767 18.4596Z" fill="url(#paint13_linear_40_2543)"/>
                <path d="M25.9569 108.829L36.5029 110.477C37.9669 110.705 39.3394 109.703 39.5677 108.238C39.7961 106.773 38.7942 105.399 37.3303 105.171L26.7842 103.524C25.3203 103.295 23.9478 104.298 23.7194 105.763C23.4911 107.228 24.4929 108.601 25.9569 108.829Z" fill="#BED8D9"/>
                <path d="M25.67 108.165L36.2161 109.813C37.68 110.041 39.0525 109.039 39.2809 107.574C39.5092 106.109 38.5074 104.735 37.0434 104.507L26.4974 102.86C25.0334 102.631 23.6609 103.634 23.4326 105.099C23.2042 106.563 24.2061 107.937 25.67 108.165Z" fill="url(#paint14_linear_40_2543)"/>
                <path d="M21.848 83.7974L47.0644 87.7174C48.5283 87.9459 49.9008 86.9434 50.1291 85.4785C50.3575 84.0136 49.3556 82.6402 47.8917 82.4117L22.6761 78.4917C21.2121 78.2632 19.8397 79.2657 19.6113 80.7306C19.3829 82.1955 20.3848 83.5689 21.8487 83.7974H21.848Z" fill="url(#paint15_linear_40_2543)"/>
                <path d="M24.2829 71.5093L49.4985 75.4293C50.9624 75.6579 52.3349 74.6553 52.5633 73.1904C52.7916 71.7255 51.7898 70.3521 50.3258 70.1236L25.1094 66.2036C23.6455 65.9751 22.273 66.9776 22.0446 68.4425C21.8163 69.9074 22.8181 71.2808 24.2821 71.5093H24.2829Z" fill="url(#paint16_linear_40_2543)"/>
              </g>
              <defs>
                <radialGradient id="paint0_radial_40_2543" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(18.7879 2.53322) rotate(31.7668) scale(148.466 148.51)">
                  <stop offset="0.43" stop-color="#F3F8FB"/>
                  <stop offset="0.65" stop-color="#DFEEF0"/>
                  <stop offset="0.79" stop-color="#ECFCFF"/>
                  <stop offset="0.81" stop-color="#E6F7FA"/>
                  <stop offset="0.85" stop-color="#D5EAEC"/>
                  <stop offset="0.88" stop-color="#BED8D9"/>
                  <stop offset="0.94" stop-color="#BED8D9"/>
                </radialGradient>
                <linearGradient id="paint1_linear_40_2543" x1="127.782" y1="18.641" x2="49.9636" y2="112.507" gradientUnits="userSpaceOnUse">
                  <stop offset="0.06" stop-color="#F3F8FB"/>
                  <stop offset="0.14" stop-color="#E3ECF1"/>
                  <stop offset="0.57" stop-color="#E3ECF1"/>
                  <stop offset="0.85" stop-color="#BED8D9"/>
                  <stop offset="0.91" stop-color="#BED8D9"/>
                </linearGradient>
                <linearGradient id="paint2_linear_40_2543" x1="89.401" y1="62.5846" x2="80.8625" y2="77.3241" gradientUnits="userSpaceOnUse">
                  <stop offset="0.23" stop-color="#A6BBBE"/>
                  <stop offset="0.25" stop-color="#A8BEC1"/>
                  <stop offset="0.38" stop-color="#B8D1D2"/>
                  <stop offset="0.47" stop-color="#BED8D9"/>
                  <stop offset="0.55" stop-color="#BAD3D4"/>
                  <stop offset="0.63" stop-color="#AFC5C8"/>
                  <stop offset="0.68" stop-color="#A6BBBE"/>
                  <stop offset="0.74" stop-color="#9BAFB2"/>
                  <stop offset="0.85" stop-color="#809093"/>
                  <stop offset="0.9" stop-color="#717F82"/>
                </linearGradient>
                <linearGradient id="paint3_linear_40_2543" x1="100.497" y1="51.3636" x2="91.958" y2="66.1027" gradientUnits="userSpaceOnUse">
                  <stop offset="0.23" stop-color="#A6BBBE"/>
                  <stop offset="0.25" stop-color="#A8BEC1"/>
                  <stop offset="0.38" stop-color="#B8D1D2"/>
                  <stop offset="0.47" stop-color="#BED8D9"/>
                  <stop offset="0.55" stop-color="#BAD3D4"/>
                  <stop offset="0.63" stop-color="#AFC5C8"/>
                  <stop offset="0.68" stop-color="#A6BBBE"/>
                  <stop offset="0.74" stop-color="#9BAFB2"/>
                  <stop offset="0.85" stop-color="#809093"/>
                  <stop offset="0.9" stop-color="#717F82"/>
                </linearGradient>
                <linearGradient id="paint4_linear_40_2543" x1="108.387" y1="38.6536" x2="99.849" y2="53.393" gradientUnits="userSpaceOnUse">
                  <stop offset="0.23" stop-color="#A6BBBE"/>
                  <stop offset="0.25" stop-color="#A8BEC1"/>
                  <stop offset="0.38" stop-color="#B8D1D2"/>
                  <stop offset="0.47" stop-color="#BED8D9"/>
                  <stop offset="0.55" stop-color="#BAD3D4"/>
                  <stop offset="0.63" stop-color="#AFC5C8"/>
                  <stop offset="0.68" stop-color="#A6BBBE"/>
                  <stop offset="0.74" stop-color="#9BAFB2"/>
                  <stop offset="0.85" stop-color="#809093"/>
                  <stop offset="0.9" stop-color="#717F82"/>
                </linearGradient>
                <linearGradient id="paint5_linear_40_2543" x1="81.7033" y1="75.9717" x2="73.6713" y2="88.9592" gradientUnits="userSpaceOnUse">
                  <stop offset="0.23" stop-color="#A6BBBE"/>
                  <stop offset="0.25" stop-color="#A8BEC1"/>
                  <stop offset="0.38" stop-color="#B8D1D2"/>
                  <stop offset="0.47" stop-color="#BED8D9"/>
                  <stop offset="0.55" stop-color="#BAD3D4"/>
                  <stop offset="0.63" stop-color="#AFC5C8"/>
                  <stop offset="0.68" stop-color="#A6BBBE"/>
                  <stop offset="0.74" stop-color="#9BAFB2"/>
                  <stop offset="0.85" stop-color="#809093"/>
                  <stop offset="0.9" stop-color="#717F82"/>
                </linearGradient>
                <linearGradient id="paint6_linear_40_2543" x1="72.7186" y1="63.7056" x2="9.76818" y2="52.613" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#9D6FE9"/>
                  <stop offset="0.03" stop-color="#A477DB"/>
                  <stop offset="0.05" stop-color="#A77AD7"/>
                  <stop offset="0.08" stop-color="#956BCA"/>
                  <stop offset="0.13" stop-color="#815ABA"/>
                  <stop offset="0.18" stop-color="#734EB0"/>
                  <stop offset="0.25" stop-color="#6B47A9"/>
                  <stop offset="0.36" stop-color="#6945A8"/>
                  <stop offset="0.56" stop-color="#6A46AA"/>
                  <stop offset="0.68" stop-color="#704AB2"/>
                  <stop offset="0.77" stop-color="#7952C0"/>
                  <stop offset="0.85" stop-color="#875DD4"/>
                  <stop offset="0.93" stop-color="#9A6CF0"/>
                  <stop offset="0.95" stop-color="#9F6FF1"/>
                  <stop offset="0.97" stop-color="#B078F6"/>
                  <stop offset="1" stop-color="#CF8AFF"/>
                </linearGradient>
                <linearGradient id="paint7_linear_40_2543" x1="43.7159" y1="0.888444" x2="38.232" y2="126.197" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#C59EE8"/>
                  <stop offset="0.01" stop-color="#B68DDF"/>
                  <stop offset="0.02" stop-color="#AC81DA"/>
                  <stop offset="0.03" stop-color="#A67AD6"/>
                  <stop offset="0.05" stop-color="#A579D6"/>
                  <stop offset="0.14" stop-color="#8158CB"/>
                  <stop offset="0.61" stop-color="#8259CC"/>
                  <stop offset="0.78" stop-color="#865CD3"/>
                  <stop offset="0.9" stop-color="#8E63DF"/>
                  <stop offset="1" stop-color="#9A6CF0"/>
                </linearGradient>
                <linearGradient id="paint8_linear_40_2543" x1="30.8147" y1="118.353" x2="51.3429" y2="0.0137561" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#432594"/>
                  <stop offset="0.03" stop-color="#7257B7"/>
                  <stop offset="0.08" stop-color="#B099E5"/>
                  <stop offset="0.1" stop-color="#C9B3F8"/>
                </linearGradient>
                <linearGradient id="paint9_linear_40_2543" x1="30.315" y1="114.003" x2="48.7672" y2="7.2315" gradientUnits="userSpaceOnUse">
                  <stop offset="0.01" stop-color="#BED8D9"/>
                  <stop offset="0.06" stop-color="#DAE9EC"/>
                  <stop offset="0.97" stop-color="#F3F8FB"/>
                  <stop offset="1" stop-color="white"/>
                </linearGradient>
                <radialGradient id="paint10_radial_40_2543" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(39.3692 40.4348) rotate(5.91384) scale(17.6345 17.6458)">
                  <stop stop-color="#75D982"/>
                  <stop offset="0.13" stop-color="#70D179"/>
                  <stop offset="0.47" stop-color="#67BF67"/>
                  <stop offset="0.74" stop-color="#51AA59"/>
                  <stop offset="0.84" stop-color="#48A153"/>
                  <stop offset="0.93" stop-color="#49A254"/>
                  <stop offset="0.96" stop-color="#50A958"/>
                  <stop offset="0.99" stop-color="#5CB460"/>
                  <stop offset="1" stop-color="#67BF67"/>
                </radialGradient>
                <radialGradient id="paint11_radial_40_2543" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(39.6318 41.2821) rotate(22.2231) scale(13.5409 14.4504)">
                  <stop offset="0.2" stop-color="#67BF67"/>
                  <stop offset="1" stop-color="#67BF67"/>
                </radialGradient>
                <linearGradient id="paint12_linear_40_2543" x1="38.0109" y1="36.1535" x2="43.8883" y2="44.1303" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#FFFDA6"/>
                  <stop offset="0.47" stop-color="#F5E37B"/>
                  <stop offset="0.67" stop-color="#F5E278"/>
                  <stop offset="0.79" stop-color="#F5DF6F"/>
                  <stop offset="0.89" stop-color="#F5DA61"/>
                  <stop offset="0.98" stop-color="#F5D44C"/>
                  <stop offset="1" stop-color="#F6D246"/>
                </linearGradient>
                <linearGradient id="paint13_linear_40_2543" x1="61.66" y1="14.2228" x2="66.8665" y2="18.6414" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#CF8AFF"/>
                  <stop offset="0.08" stop-color="#BE80FA"/>
                  <stop offset="0.22" stop-color="#AA75F4"/>
                  <stop offset="0.36" stop-color="#9E6EF1"/>
                  <stop offset="0.49" stop-color="#9A6CF0"/>
                  <stop offset="0.6" stop-color="#9465EE"/>
                  <stop offset="0.75" stop-color="#8552EC"/>
                  <stop offset="0.93" stop-color="#6C33E7"/>
                  <stop offset="1" stop-color="#6125E5"/>
                </linearGradient>
                <linearGradient id="paint14_linear_40_2543" x1="32.1618" y1="102.408" x2="30.3771" y2="111.051" gradientUnits="userSpaceOnUse">
                  <stop offset="0.08" stop-color="#CF8AFF"/>
                  <stop offset="0.15" stop-color="#BE80FA"/>
                  <stop offset="0.27" stop-color="#AA75F4"/>
                  <stop offset="0.38" stop-color="#9E6EF1"/>
                  <stop offset="0.49" stop-color="#9A6CF0"/>
                  <stop offset="0.58" stop-color="#9465EE"/>
                  <stop offset="0.69" stop-color="#8552EC"/>
                  <stop offset="0.83" stop-color="#6C33E7"/>
                  <stop offset="0.89" stop-color="#6125E5"/>
                </linearGradient>
                <linearGradient id="paint15_linear_40_2543" x1="36.2194" y1="74.6384" x2="33.7772" y2="89.8865" gradientUnits="userSpaceOnUse">
                  <stop offset="0.23" stop-color="#A6BBBE"/>
                  <stop offset="0.25" stop-color="#A8BEC1"/>
                  <stop offset="0.38" stop-color="#B8D1D2"/>
                  <stop offset="0.47" stop-color="#BED8D9"/>
                  <stop offset="0.55" stop-color="#BAD3D4"/>
                  <stop offset="0.63" stop-color="#AFC5C8"/>
                  <stop offset="0.68" stop-color="#A6BBBE"/>
                  <stop offset="0.74" stop-color="#9BAFB2"/>
                  <stop offset="0.85" stop-color="#809093"/>
                  <stop offset="0.9" stop-color="#717F82"/>
                </linearGradient>
                <linearGradient id="paint16_linear_40_2543" x1="38.6549" y1="62.3509" x2="36.2135" y2="77.5988" gradientUnits="userSpaceOnUse">
                  <stop offset="0.23" stop-color="#A6BBBE"/>
                  <stop offset="0.25" stop-color="#A8BEC1"/>
                  <stop offset="0.38" stop-color="#B8D1D2"/>
                  <stop offset="0.47" stop-color="#BED8D9"/>
                  <stop offset="0.55" stop-color="#BAD3D4"/>
                  <stop offset="0.63" stop-color="#AFC5C8"/>
                  <stop offset="0.68" stop-color="#A6BBBE"/>
                  <stop offset="0.74" stop-color="#9BAFB2"/>
                  <stop offset="0.85" stop-color="#809093"/>
                  <stop offset="0.9" stop-color="#717F82"/>
                </linearGradient>
                <clipPath id="clip0_40_2543">
                  <rect width="144" height="123" fill="white"/>
                </clipPath>
              </defs>
            </svg></div>
            <div class="indvidualText">
              <div class="greenCircle"><p>3</p></div>
              <p class="greenCircleText">Accounting Services</p>
            </div>
        </div>
        </div>
      </div>
      <!-- slier -->
      
      <!-- FAQ -->
      <div class="faq">
<div class="faqText">
<p class="faqP">FAQ</p>
<h2 class="faqH">Frequently Asked Questions</h2>
<div class="quickfaq">
  <% for (let i = 0; i < FAQs.length; i++) { %>
    <p class="quickFaqQuick"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
      <circle cx="7" cy="7" r="7" fill="#49A16D"/>
    </svg>    <%= FAQs[i].question %> <svg class="svgPlus" xmlns="http://www.w3.org/2000/svg" onclick="showanswer(<%= i %>)" width="20" height="20" viewBox="0 0 20 20" fill="none">
      <rect x="8" width="4" height="20" rx="2" fill="#49A16D"/>
      <rect y="12" width="4" height="20" rx="2" transform="rotate(-90 0 12)" fill="#49A16D"/>
    </svg></p>
    <p class="dn" id="answerid_<%= i %>"><%= FAQs[i].answer %> </p>
    <% } %>

 
  
</div>
</div>
<div class="faqImgs">
<img src=" /images/askAFAQ.svg" alt="">
</div>
      </div>

      <!-- blogs -->
      <div class="ourServcesTop">
        <h3 class="WWAHeadText extraMargin">Trending Topics</h3>
        <h2 class="WWAheading">Latest News & Articles</h2>
        <p class="WWApara smallWidth">Explore cross-sectoral advice, insights, tips and more from our team of industry experts and professionals</p>
      </div>
      <div class="mainDataDivEnclosed padd">
   
        <% for (let b of blogs) { %>

        <div class="dataDivContainer">
          <img class="imgContainer" src="<%= b.image %>" alt="">
          <div class="headingdataDiv">
            <h2><%= b.title %></h2>
          </div>
          <p class="textgdataDiv"><%= b.data %></p>
          <div class="bottomdataDiv">
            <h2><%= new Date(b.date).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %></h2>

            <a href="" target="_blank">
            <h3>Read more <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <path d="M9 0L7.41375 1.58625L13.6912 7.875H0V10.125H13.6912L7.41375 16.4137L9 18L18 9L9 0Z"
                  fill="#49A16D" />
              </svg></h3> </a>
          </div>
        </div>
        <% } %>
     
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
    function showanswer(i) {
  let v = document.getElementById("answerid_" + i);
  if (v.style.display === "block") {
    v.style.display = "none";
  } else {
    v.style.display = "block";
  }
}

  </script>
   <%- include('../partials/footer.ejs') %>